
API_KEY= # This is your api key

# Connect to database via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

# This is your frontend endpoint
CLIENT_URL=https://mangament.netlify.app

# Connect to mongodb for saving your applicaton log
MONGODB_CONNECTION_STRING=mongodb://admin:password@localhost:27017/management_logs?authSource=admin

GOOGLE_CLIENT_ID=abcxyz.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=


# Cloudflared tunnel token
TUNNEL_TOKEN=

# Cloudflare R2 bucket key
CLOUDFLARE_R2_ENDPOINT=https://xyzabc.r2.cloudflarestorage.com
CLOUDFLARE_R2_TOKEN=
CLOUDFLARE_R2_BUCKET= # Your bucket name
S3_ACCESS_KEY=
S3_SECRET_KEY=
CDN_URL=https://pub-abcxyz.r2.dev 


ML_SERVICE_URL=http://localhost:8000

APP_PORT=5000

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=30d

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=365d

COOKIES_REFRESH_TOKEN_KEY=refreshToken


# This is email and email app password used to send email
EMAIL_USER=
EMAIL_APP_PASSWORD=

REDIS_URL=redis://localhost:6379

DEFAULT_AVATAR_IAMGE_URL=
DEFAULT_AVATAR_IAMGE_KEY=




